body{
    /* background: red; */
    margin:0;
    padding: 0;
}
.box{

    border:2px solid rgb(18, 18, 189);
    background: rgb(152, 12, 203);

}

li{
    list-style: none;
}
li a{
    text-decoration: none;
}